<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <header class="header" id="Inicio">
            <img src="/public/img/user.svg" alt="" class="user">
            <nav class="menu-navegacion">
                <h2 class="subtitle">Future Creators</h2>
                <a href="#inicio">Home</a>
                <a href="/registro">Register</a>
                <a href="/profileDetail">Perfiles</a>
                <a href="/login">login</a>
            </nav>
           
        </header>
        

    </body>
     
        <main>
            <section class="container-carrusel" id="Perfiles">
                <div class="container">
                </div>
            </section>  
            <section class="container3" id="Entremanientos">
                <h2 class="subtitle" id="pruebita">Hola</h2>
                    <div class="container-Entremanientos">
                        <div class="Check-Entrenamientos">
                            <div class="Entremanientos">
                                <h3 class="n-entrenamiento"><span class="tipo"></span>Entrenamiento Técnico</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
                            </div>
                            <div class="Entremanientos">
                                <h3 class="n-entrenamiento"><span class="tipo"></span>Entrenamiento del Ser</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
                            </div>
                            <div class="Entremanientos">
                                <h3 class="n-entrenamiento"><span class="tipo"></span>Entrenamiento en Inglés</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
                            </div>
                        </div> 
            <section class="Developers" id="Perfiles">
                <div class="container">
                    <img src="" alt="" class="imagenes-perfiles">
                    <img src="" alt="" class="imagenes-perfiles">
                    <img src="" alt="" class="imagenes-perfiles">
                    <img src="" alt="" class="imagenes-perfiles">
                    <img src="" alt="" class="imagenes-perfiles">
                    <img src="" alt="" class="imagenes-perfiles">
                </div>
            </section>
            <section class="Testimonios" id="Testimonios"> 
                <div class="container-testimonios">
                    <h2 class="subtitle">Testimonios</h2> 
                    <div class="container-testimonios">
                        <img src="" alt="" class="img-testimonios">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>    
                    </div>
                    <div class="container-testimonios">
                        <img src="" alt="" class="img-testimonios">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>    
                    </div>
                    <div class="container-testimonios">
                        <img src="" alt="" class="img-testimonios">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>    
                    </div>
                </div>
            </section>
        </main>
        <script src="/js/home.js"></script>
    </body>
  

    <footer>
        <section>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        </section>
    </footer>s
</html>


</html>