<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <header class="header" id="Inicio">
            <img src="/public/img/user.svg" alt="" class="user">
            <nav class="menu-navegacion"></nav>
            <a href="#Inicio">Home</a>

    </body>

</html>