*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* General and shared tags */

.input_label{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.input{
    height: 10%;
    padding: 5px;
}
.input:focus {
    box-shadow: 2px -2px 48px 0px rgba(130, 126, 126, 0.458) inset;
}
.form_invalidInput{
    border: 5px solid red;
    box-shadow: 2px -2px 48px 0px rgba(130, 126, 126, 0.458) inset;
}

/*Register form configuration*/
.vp_register{
    background-color: black;
}
.register_form{
    background-color: white;
    padding: 25px;
    margin: auto;
    margin-top: 40px;
    width: 40%;
    border-radius: 15px;
}