*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

:root{
    scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* General and shared tags */

.input_label{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.input{
    height: 10%;
    padding: 5px;
}
.input:focus {
    box-shadow: 2px -2px 48px 0px rgba(130, 126, 126, 0.458) inset;
}
.form_invalidInput{
    border: 5px solid red;
    box-shadow: 2px -2px 48px 0px rgba(130, 126, 126, 0.458) inset;
}

/*Register form configuration*/
.vp_register{
    background-color: black;
}
.register_form{
    background-color: white;
    padding: 25px;
    margin: auto;
    margin-top: 40px;
    width: 40%;
    border-radius: 15px;
}

.container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

.header{
    text-align: center;
}

.title{
    text-align: left;
    font-size: 60px;
    margin-bottom: 15px;
   
}

.menu-navegacion a{
    color: #000;
    text-decoration: none;
    text-align: center;
        
}


.subtitle{
    text-align: center;
    font-weight: 300;
    color: #000;
    margin-bottom: 40px;
    font-size: 40px;
}

.container3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
} 

.container-Entrenamientos{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.Entrenamientos img{
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.Check-Entrenamientos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
}


.n-entrenamiento{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}


.Developers{
    background: #f2f2f2;
}

.imagenes-perfiles{
    object-fit: cover; 
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.container-perfiles{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-perfiles img{
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.Testimonios{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

